/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  font-size: 12px;
  font-family: sans-serif;
}

section {
  padding: 30px 10px;
}

#engt-launcher-button {
  box-shadow: 1px 2px 8px #333333;
  border-radius: 50%;
}

.chat-balloon {
  position: fixed;
  bottom: 16px;
  right: 90px;
  margin: 10px;
  z-index: 9999;

}

.chat-balloon > div {
  width: 25vh;
  background-color: #fff;
  padding: 10px 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 2px 8px #333333;
}

.chat-balloon > div span {
  font-size: 12px;
}


/* Generic classes */
.bars {
  margin: 0 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: #e3301c;
  font-weight: 700;
}

.bars a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 0;
  text-transform: uppercase;
}

/* Classes */
.header-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header-logos img {
  width: 60px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serch-bar {
  width: 80%;
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.serch-bar p {
  margin: 0 10px;
  font-size: 0.8em;
  opacity: 0.3;
}

.hamburger-menu span {
  display: inline-block;
  width: 20px;
  height: 2px;
  margin: 2px 0;
  background-color: #fff;
  border-radius: 5px;
}

.nav-menu ul {
  border-top: 2px dotted #fff;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

div .toggle-menu {
  display: none;
}

.banner {
  background-image: url(../images/Banner-Sptrans2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  padding: 0;
}

.bu-section {
  border-bottom: 1px solid #e3301c;
}

.bu-section .logo {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 30px;
}

.bu-section p {
  margin: 30px;
  text-align: center;
}

.bu-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.news h2 {
  color: #e3301c;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.news h3 {
  color: #e3301c;
  font-size: 1em;
  text-transform: uppercase;
}

.red-border {
  width: 5px;
  height: 15px;
  margin-right: 20px;
  background-color: #e3301c;
}

.spotlight {
  border-bottom: 2px dotted #ccc;
  margin: 20px 0;
}

.spotlight p {
  margin-top: 10px;
  margin-left: 40px;
  font-weight: 900;
}

.news .title-spotlight {
  display: flex;
}

.new-item {
  margin: 20px 0;
  border-bottom: 2px dotted #ccc;
}

.new-item p {
  margin-top: 10px;
  margin-left: 40px;
}

.news .title-new {
  display: flex;
}

.all-news {
  display: flex;
  justify-content: center;
}

.all-news button{
  border: 0;
  padding: 15px;
  background-color: #e3301c;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8em;
}

.informations h2 {
  color: #e3301c;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.informations .information-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.information-icon {
  margin-right: 20px;
}

.information-icon img {
  width: 80px;
}

.information-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information-content h3 {
  font-size: 0.8em;
  text-transform: uppercase;
}

.information-link {
  border-radius: 5px;
  background-color: #e3301c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-link span {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  min-width: 200px;
}

.footer-1 {
  background-color: #333333;
  padding: 30px 0;
}

.footer-2 {
  background-color: #ccc;
  padding: 30px 0;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logos img {
  width: 80px;
  margin: 0 20px 50px 20px;
}

.footer-information p {
  text-align: center;
  margin: 2px 0;
  font-weight: 700
}
